@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Dosis&family=Josefin+Sans&display=swap');
/** {
    border: 2px solid greenyellow;
}*/
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #385170;
}
.main {
    width: 90%;
    margin: 0 auto;
    box-shadow: .5vmin .5vmin 1vmin 1vmin #142d4c;
}
img {
    width: 85%;
    height: auto;
    display: block;
    border-radius: 5%;
    box-shadow: .3vmin .3vmin 1vmin #385170;
    margin: 1vw auto;
}

h1 {
    background-color: #142d4c;
    text-align: center;
    color: #ececec;
    font-family: 'Josefin Sans', sans-serif;
    padding: 3vw 1vw;
    font-size: 9vw;
}

.intro {
    background-color: #9fd3c7;
    padding: 3vw 1.5vw;
}
.intro h2 {
    width: 90%;
    margin: auto;
    text-align: justify;
    background-color: #9fd3c7;
    color: #142d4c;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 5vw;
    padding: 1vw 1vw 2vw;
}
.intro p {
    width: 90%;
    margin: auto;
    text-align: justify;
    font-family: 'Dosis', sans-serif;
    font-size: 4vw;
    font-weight: 800;
    padding: 2vw 0;
}

.instructions {
    background-color: #455d7a;
    color: #ececec;
    width: 100%;
    margin: auto;
    font-family: 'Comfortaa', cursive;
}
.instructions .ingredients, .instructions .steps {
    width: 100%;
    margin: auto;
}
.instructions h2{
    width: 100%;
    font-size: 4vw;
    text-decoration: underline;
    padding: 2vw 0;
    background-color: #142d4c;
    text-align: center;
}
.instructions h3{
    font-size: 3.5vw;
    color: #272343;
    padding: 2vmin 0;
    text-shadow: .1vmin .1vmin .5vmin #233142;
    text-decoration: underline;
    text-decoration-style: double;
    text-underline-offset: .5vw;
}
ul, ol {
    width: 90%;
    margin: 2vw auto;
    text-shadow: 1px 1px 3px #233142;
}
li {
    color: #e7eaf6;
    margin-left: 7vw;
    padding: 1vw 0;
    font-size: 4vmin;
    line-height: 5vmin;
}

.float {
    position: fixed;
    bottom: 7vh;
    left: 1vh;
    z-index: 2;
}
.button {
    margin: 0;
    width: 3.8vh;
    aspect-ratio: 1;
    background-color: #a2a8d3;
    box-shadow: none;
}
.button-container {
    padding: 1.5vh;
    background-color: #a2a8d3;
    border-radius: 100%;
    box-shadow: 0 0 1vw #142d4c;
}
.button-container:active {
    box-shadow: none;
}
.button-container:hover {
    box-shadow: 0 0 1vw #9fd3c7;
}

@media only screen and (min-width: 650px){
.float {
    position: fixed;
    bottom: 3vh;
    left: 2vw;
    z-index: 2;
}
.button {
    margin: 0;
    width: 4vw;
    aspect-ratio: 1;
    background-color: #a2a8d3;
    box-shadow: none;
}
.button-container {
    padding: 1.4vw;
    background-color: #a2a8d3;
    border-radius: 100%;
    box-shadow: 0 0 1.2vw #142d4c;
}
h1 {
    padding: 2vw 0 1vw;
    font-size: 4vw;
}
.main {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.intro {
    display: flex;
    flex-direction: column;
    padding: 3vw 0;
    align-items: center;
    align-self: center;
    gap: 2.5vw;
}
.intro .subcontainer {
    width: 90%;
    display: flex;
}
.intro .h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 67%;
}
.intro h2 {
    width: 80%;
    text-align: center;
    padding: 0;
    font-size: 3.5vw;
}
.intro .image {
    width: 33%;
    aspect-ratio: 1/1;
}
img {
    width: 100%;
    height: 100%;
    margin: 0;
}
.intro .p {
    width: 90%;
    margin: 0 auto;
}
.intro p {
    font-size: 2vw;
    padding: 0 0 2vw 0;
    text-align: justify;
}

.instructions {
    display: flex;
    justify-content: space-evenly;
}
.instructions .steps , .instructions .ingredients {
    margin: 0;
}
.instructions .steps {
    border-left: .5vw solid #142d4c;
}
.instructions .ingredients {
    border-right: .5vw solid #142d4c;
}
.instructions h2{
    font-size: 2vw;
}
.instructions h3{
    font-size: 1.7vw;
    padding: 1vmin 0;
}
ul, ol {
    margin: 2vw auto;
    width: 85%;
}
li {
    margin-left: 3vw;
    padding: 1vmin 0;
    font-size: 1.6vw;
    line-height: 4vmin;
    text-align: justify;
}
}