@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Josefin+Sans&display=swap');
/*https://palettes.shecodes.io/palettes/1313#palette*/
/** {
    border: 2px solid greenyellow;
}*/
* {
    margin: 0;
}
body {
    background-color: #385170;
}
.main {
    width: 90%;
    margin: 0 auto;
    box-shadow: 2px 1px 10px #142d4c;
}
img {
    width: 85%;
    display: block;
    height: auto;
    border: 2px solid #9FC5D3;
    border-radius: 10%;
    box-shadow: 3px 3px 10px #385170;
    margin: 1vw auto;
}








h1 {
    background-color: #142d4c;
    text-align: center;
    color: #ececec;
    font-size: 9vw;
    font-family: 'Josefin Sans', sans-serif;
    padding: 3vw 1vw;
}
.intro h2 {
    text-align: center;
    background-color: #9fd3c7;
    color: #142d4c;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 5vw;
    padding: 1vw;
}
.intro p {
    width: 90%;
    margin: 0 auto;
    text-align: justify;
    font-family: 'Dosis', sans-serif;
    font-size: 4vw;
    font-weight: 800;
}

.intro {
    background-color: #9fd3c7;
    padding: 3vw 1.5vw;
}
.instructions {
    background-color: #ececec;
}
