
body {
    background-color: #f7f7f7;
}
.main {
    width: 85%;
    margin: 4vh auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5vh;
}
.header, .intro, .instructions {
    width: 100%;
}


h1, h2, h3 {
    margin: 0;
}
h1 {
    text-align: center;
    font-size: 3em;
    background-color: #76BFBA;
}
h2 {
    font-size: 2em;
}
h3 {
        font-size: 1.5em;
}


/*h1, .steps, .ingredients {
    margin: 3vh 0;
}*/
p {
    font-size: 1.5em;
}

li {
    line-height: 1.2em;
    font-size: 1.3em;
    margin: 10px 0;
}
.intro {
    background-color: #6496ED;
    display: flex; 
    flex-direction: column;
/*    gap: 15px;*/
    justify-content: space-evenly;
    align-items: center;
}
.subcontainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.intro-image {
    justify-self: flex-end;
    align-self: center;
 /*   flex-basis: 4;
    flex-grow: 1;
    flex-shrink: 1;*/
    display: flex;
/*    width: 20%;
    height: auto;*/
}
.intro-h2 {
    width: 70%;
}
.intro-p {
    flex-basis: 1;
    flex-grow: 2;
    flex-shrink: 1;
}
img {
    height: 100%;
    width: auto;
}

/*
.intro-h2, .intro.p {
    display: flex;
    width: 30%;
    max-width: 700px;
    gap: 3vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}*/
.instructions {
    display: flex;
    flex-direction: row;
    background-color: #64c4ed;
    justify-content: space-evenly;
}
.ingredients, .steps {
    width: 40%;
    background-color: #f0d78c;
/*    color: #4f81c7;*/
}
/* .text h2, .text p {
    width: 95%;
    margin: 0;
} */

/*@media only screen and (max-width: 800px) {
    .intro {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        font-size: .8em;
        width: 100%;
    }
    .intro-h2, .intro.p ,.intro-image {
        width: 100%;
        justify-content: center;
    }
    p {
        font-size: 1.6em;
    }
    .instructions {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        line-height: 1.2em;
    }
    li {
        font-size: 1.3em;
        line-height: 1.2em;
        margin: 5px;
    }
    .ingredients, .steps {
        width: 100%;
    }
}*/

