h1 {
	color: #414d49;
	font-size: 4em;
	text-align: center;
	font-family: Ubuntu, sans-seris;
	font-weight: 900;
	text-decoration: underline;
	user-select: none;
	margin: 30px 0;
}
img {
	user-select: none;
}
body {
	background-color: #e6dfc7;
}
.container {
	background-color: #c7e6df;
	width: 45%;
/*	min-width: 200px;
	max-width: 1000px;*/
	margin: 1em auto 1em auto;
	padding: 2px 0 2px 2px;
	border: 3px black solid;
	border-radius: 20px;
}
.thumbnail {
	display: block;
	margin: 10px auto 0;
	border-radius: 9000px;
	border: 3px solid #B4CAC5;
}
h2 {
	font-family: Ubuntu, sans-seris;
	font-size: 25px;
	text-align: center;
}
ul {
	list-style: none;
	padding-left: 0;
}
.header {
	display: flex;
	justify-content: center;
	align-items: center;
}
a {
	text-decoration: none;
	color: 	#4f5c59;
	cursor: default;
	user-select: none;
}
a:active {
	color: #3b4542;
}
div.container:hover {
	background-color: #c7dee6;
	text-shadow: 0 0 10px;
	box-shadow: 0 0 10px;
}
div.container:active {
	background-color: #c7e6cf;
}